<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haizhi.empower.mapper.DicTypeMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.haizhi.empower.entity.po.DicType" id="dicTypeMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="sysDic" column="sys_dic"/>
        <result property="description" column="description"/>
        <result property="dr" column="dr"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <select id="getDicTypes" resultType="com.haizhi.empower.entity.vo.DicTypeVo">
        select id,name,code,sys_dic as sysDic,description from dic_type
        where dr =0
        <if test="keyword!=''">
            and name like concat('%',#{keyword},'%')
        </if>
        order by sysDic asc,create_time asc
    </select>

</mapper>