<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haizhi.empower.mapper.JudgeTaskConclusionAttachmentMapper">

    <resultMap id="judgeTaskAttachment" type="com.haizhi.empower.entity.po.JudgeTaskConclusionAttachment">
        <result property="id" column="id" />
        <result property="taskId" column="task_id" />
        <result property="attachmentId" column="attachment_id" />
    </resultMap>

    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        insert into t_judge_task_conclusion_attachment (task_id, attachment_id) values
        <foreach collection="judgeTaskConclusionAttachments" item="judgeTaskConclusionAttachment" separator=",">
            (#{judgeTaskConclusionAttachment.taskId}, #{judgeTaskConclusionAttachment.attachmentId})
        </foreach>
    </insert>

    <select id="selectAttachmentIds" resultType="long">
        select attachment_id from t_judge_task_conclusion_attachment where dr = 0 and task_id = #{taskId}
    </select>

    <update id="deleteByTaskId">
        update t_judge_task_conclusion_attachment set dr = 1 and task_id = #{taskId}
    </update>
</mapper>