<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.haizhi.empower.mapper.JudgeTaskCollaboratorMapper">

    <resultMap id="judgeTaskCollaborator" type="com.haizhi.empower.entity.po.JudgeTaskCollaborator">
        <result property="id" column="id" />
        <result property="taskId" column="task_id" />
        <result property="collaborator" column="collaborator" />
        <result property="createUser" column="create_user" />
    </resultMap>

    <insert id="insertList" useGeneratedKeys="true" keyProperty="id">
        insert into t_judge_task_collaborator (task_id, collaborator, create_user) values
        <foreach collection="collaborators" item="collaborator" separator=",">
            (#{collaborator.taskId}, #{collaborator.collaborator}, #{collaborator.createUser})
        </foreach>
    </insert>

    <select id="selectByTaskId" resultMap="judgeTaskCollaborator">
        select * from t_judge_task_collaborator where dr = 0 and task_id = #{taskId}
    </select>

    <update id="deleteByTaskId">
        update t_judge_task_collaborator set dr = 1 and task_id = #{taskId}
    </update>

    <!--获取登录人协作的任务id-->
    <select id="selectCollaboratorPendIdList" resultType="java.lang.Integer">
        select task_id
        from t_judge_task_collaborator
        where collaborator = #{userCode}
              and dr = 0
    </select>

    <!--
        获取研判任务详情:
        任务协作者唯一标识
    -->
    <select id="selectTaskCollaboratorCodeList" resultType="java.lang.String">
        select collaborator
        from t_judge_task_collaborator
        where task_id = #{taskId}
    </select>
</mapper>